.mx-barrage-container {
  position: relative;
  overflow: hidden;
}

.mx-barrage {
  width: auto;
  min-width: 200px;
  position: absolute;
}

.mx-barrage-avatar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  float: left
}

.mx-barrage-msg {
  float: left;
}

.mx-barrage-success {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}

.mx-barrage-warning {
  color: #fff;
  background-color: #f0ad4e;
  border: 1px solid #eea236;
}

.mx-barrage-danger {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}

.mx-barrage-normal {
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #46b8da;
}
